<% provide(:title, "CPUs") %>
        <body>
            <h1>CPUs</h1>
                <h2>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Home</button>
                        <div class="dropdown-content">
                            <a href="/static_pages/home">Return Home</a>
                            <a href="/static_pages/reviews">Reviews</a>
                        </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Components</button>
                            <div class="dropdown-content">
                                <a href="/static_pages/cpus">CPUs</a>
                                <a href="/static_pages/gpus">GPUs</a>
                                <a href="/static_pages/memory">Memory</a>
                                <a href="/static_pages/motherboard">Motherboards</a>
                                <a href="/static_pages/storage">Storage</a>
                                <a href="/static_pages/psu">Power Supplies</a>
                            </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">User</button>
                        <div class="dropdown-content">
                            <a href="/sessions/new">Login</a>
                            <a href="/users/new">Sign Up</a>
                        </div>
                        </div>
                    </p1>
                </h2>
                <h6>High End</h6>
                   <p><%=image_tag("1800x.jpg", alt: "1800x")%><p><text1>AMD Ryzen 7 1800X</text1></p><p><text1>8 Cores</text1></p><p><text1>3.6 Ghz (4.0 Ghz Turbo)</text1></p>
                     <p><text1>Great for: Video Editing, High End Gaming</text1></p><p><a href="https://pcpartpicker.com/product/7qyxFT/amd-ryzen-7-1800x-36ghz-8-core-processor-yd180xbcaewof">Click for Pricing</a></p></p>
                    
                   <p><%=image_tag("7600k.jpg", alt: "7600k")%><p><text1>Intel Core i5 7600k</text1></p><p><text1>4 Cores</text1></p><p><text1>3.8 Ghz (4.2 Ghz Turbo)</text1></p>
                     <p><text1>Great for: Video Editing, High End Gaming</text1></p><p><a href="https://pcpartpicker.com/product/dQM323/intel-core-i5-7600k-38ghz-quad-core-processor-bx80677i57600k">Click for Pricing</a></p></p>
                     
                <h6>Budget</h6>
                   <p><%=image_tag("7100.jpg", alt: "7100")%><p><text1>Intel Core i3 7100</text1></p><p><text1>2 Cores</text1></p><p><text1>3.9 Ghz</text1></p>
                     <p><text1>Great for: Office Use/Productivity, Entry Level Gaming</text1></p><p><a href="https://pcpartpicker.com/product/J9X2FT/intel-core-i3-7100-39ghz-dual-core-processor-bx80677i37100">Click for Pricing</a></p></p>
        </body>
