<% provide(:title, "GPUs") %>
        <body>
            <h1>GPUs</h1>
                <h2>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Home</button>
                        <div class="dropdown-content">
                            <a href="/static_pages/home">Return Home</a>
                            <a href="/static_pages/reviews">Reviews</a>
                        </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Components</button>
                            <div class="dropdown-content">
                                <a href="/static_pages/cpus">CPUs</a>
                                <a href="/static_pages/gpus">GPUs</a>
                                <a href="/static_pages/memory">Memory</a>
                                <a href="/static_pages/motherboard">Motherboards</a>
                                <a href="/static_pages/storage">Storage</a>
                                <a href="/static_pages/psu">Power Supplies</a>
                            </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">User</button>
                        <div class="dropdown-content">
                            <a href="/sessions/new">Login</a>
                            <a href="/users/new">Sign Up</a>
                        </div>
                        </div>
                    </p1>
                </h2>
                <h6>High End</h6>
                   <p><%=image_tag("AsusGTX1080.jpg", alt: "1080")%><p><text1>Nvidia (Asus) GeForce GTX 1080</text1></p><p><text1>8GB VRAM</text1></p><p><text1>1.67 Ghz (1.83 Ghz Boost)</text1></p>
                     <p><text1>Great for: High End Gaming</text1></p><p><a href="https://pcpartpicker.com/product/v34NnQ/asus-geforce-gtx-1080-8gb-rog-strix-video-card-rog-strix-gtx1080-a8g-gaming">Click for Pricing</a></p></p>
                    
                   <p><%=image_tag("R9Nano.jpg", alt: "R9Nano")%><p><text1>AMD R9 Nano</text1></p><p><text1>4GB VRAM</text1></p><p><text1>1.0 Ghz</text1></p>
                     <p><text1>Great for: High End Gaming, Small Form Factor Systems</text1></p><p><a href="https://pcpartpicker.com/product/PRkwrH/sapphire-video-card-212490040g">Click for Pricing</a></p></p>
                     
                <h6>Budget</h6>
                   <p><%=image_tag("GigabyteGTX1050.jpg", alt: "1050")%><p><text1>Nvidia (Gigabyte) GTX 1050</text1></p><p><text1>2GB VRAM</text1></p><p><text1>1.35 Ghz (1.49 Ghz Boost)</text1></p>
                     <p><text1>Great for: Entry Level Gaming, Small Form Factor Systems</text1></p><p><a href="https://pcpartpicker.com/product/KPNypg/gigabyte-geforce-gtx-1050-2gb-d5-video-card-gv-n1050d5-2gd">Click for Pricing</a></p></p>
                     
                   <p><%=image_tag("R9370.jpg", alt: "R9370")%><p><text1>AMD (Asus) R9 370</text1></p><p><text1>2GB VRAM</text1></p><p><text1>1.05 Ghz</text1></p>
                     <p><text1>Great for: Entry Level Gaming</text1></p><p><a href="https://pcpartpicker.com/product/Z4qbt6/asus-video-card-strixr7370dc2oc2gd5gaming">Click for Pricing</a></p></p>
