        <body>
            <h1>PC Parts Emporium</h1>
                <h2>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Home</button>
                        <div class="dropdown-content">
                            <a href="/static_pages/home">Return Home</a>
                        </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Components</button>
                            <div class="dropdown-content">
                                <a href="/static_pages/cpus">CPUs</a>
                                <a href="#">GPUs</a>
                                <a href="#">Memory</a>
                                <a href="#">Storage</a>
                            </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Cart</button>
                        <div class="dropdown-content">
                            <a href="#">View</a>
                        </div>
                        </div>
                    </p1>
                </h2>
                    <h3>
                        <p>
                            <span><text1>-------------</text1></span>
                            <span>Our Goal</span><span><text1>-------------</text1></span>At PC Parts Emporium our goal is to provide 
                            our customers with the latest and greatest in hardware selection. Whether it be high end or budget conscious, we have you covered!
                            <span><text1>-------------</text1></span>
                            <span></span>
                            <span>Contact</span><span><text1>-------------</text1></span><span>Email: bcj@email.uscupstate.edu</span>
                        </p>
                    </h3>
                    
        </body>