<% provide(:title, "RAM") %>
        <body>
            <h1>Memory</h1>
                <h2>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Home</button>
                        <div class="dropdown-content">
                            <a href="/static_pages/home">Return Home</a>
                            <a href="/static_pages/reviews">Reviews</a>
                        </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Components</button>
                            <div class="dropdown-content">
                                <a href="/static_pages/cpus">CPUs</a>
                                <a href="/static_pages/gpus">GPUs</a>
                                <a href="/static_pages/memory">Memory</a>
                                <a href="/static_pages/motherboard">Motherboards</a>
                                <a href="/static_pages/storage">Storage</a>
                                <a href="/static_pages/psu">Power Supplies</a>
                            </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">User</button>
                        <div class="dropdown-content">
                            <a href="/sessions/new">Login</a>
                            <a href="/users/new">Sign Up</a>
                        </div>
                        </div>
                    </p1>
                </h2>
                   <p><%=image_tag("HyperX.jpg", alt: "HyperX")%><p><text1>Kingston HyperX Fury</text1></p><p><text1>8GB (2x4GB)</text1></p><p><text1>DDR4-2133Mhz</text1></p>
                     <p><a href="https://pcpartpicker.com/product/kkL7YJ/kingston-memory-hx421c14fbk28">Click for Pricing</a></p></p>
                     
                    <p><%=image_tag("CorsairLPX.jpg", alt: "CorsairLPX")%><p><text1>Corsair Vengeance LPX</text1></p><p><text1>16GB (2x8GB)</text1></p><p><text1>DDR4-3000Mhz</text1></p>
                     <p><a href="https://pcpartpicker.com/product/MYH48d/corsair-memory-cmk16gx4m2b3000c15">Click for Pricing</a></p></p> 
