<% provide(:title, "Motherboards") %>
        <body>
            <h1>Motherboards</h1>
                <h2>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Home</button>
                        <div class="dropdown-content">
                            <a href="/static_pages/home">Return Home</a>
                            <a href="/static_pages/reviews">Reviews</a>
                        </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Components</button>
                            <div class="dropdown-content">
                                <a href="/static_pages/cpus">CPUs</a>
                                <a href="/static_pages/gpus">GPUs</a>
                                <a href="/static_pages/memory">Memory</a>
                                <a href="/static_pages/motherboard">Motherboards</a>
                                <a href="/static_pages/storage">Storage</a>
                                <a href="/static_pages/psu">Power Supplies</a>
                            </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">User</button>
                        <div class="dropdown-content">
                            <a href="/sessions/new">Login</a>
                            <a href="/users/new">Sign Up</a>
                        </div>
                        </div>
                    </p1>
                </h2>
                    <p><%=image_tag("AsusAM4.jpg", alt: "AsusAM4")%><p><text1>Asus CROSSHAIR VI HERO</text1></p><p><text1>AM4 Platform</text1></p><p><text1>ATX Form Factor</text1></p><p><text1>Supports 64GB Memory</text1></p>
                     <p><a href="https://pcpartpicker.com/product/gj7CmG/asus-crosshair-vi-hero-atx-am4-motherboard-crosshair-vi-hero">Click for Pricing</a></p></p>
                     
                    <p><%=image_tag("AsusLGA1151.jpg", alt: "AsusATXLGA1151")%><p><text1>Asus Z170-A</text1></p><p><text1>LGA 1151 Platform</text1></p><p><text1>ATX Form Factor</text1></p><p><text1>Supports 64GB Memory, K-Series Processors</text1></p>
                     <p><a href="https://pcpartpicker.com/product/Q9Gj4D/asus-motherboard-z170a">Click for Pricing</a></p></p>
                     
                    <p><%=image_tag("AsusMini.jpg", alt: "AsusMiniITX")%><p><text1>Asus ROG STRIX Z270i GAMING</text1></p><p><text1>LGA 1151 Platform</text1></p><p><text1>Mini-ITX Form Factor</text1></p><p><text1>Supports 32GB Memory, K-Series Processors</text1></p>
                     <p><a href="https://pcpartpicker.com/product/mpM323/asus-rog-strix-z270i-gaming-mini-itx-lga1151-motherboard-strix-z270i-gaming">Click for Pricing</a></p></p> 