<% provide(:title, "PSUs") %>
        <body>
            <h1>Power Supplies</h1>
                <h2>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Home</button>
                        <div class="dropdown-content">
                            <a href="/static_pages/home">Return Home</a>
                            <a href="/static_pages/reviews">Reviews</a>
                        </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Components</button>
                            <div class="dropdown-content">
                                <a href="/static_pages/cpus">CPUs</a>
                                <a href="/static_pages/gpus">GPUs</a>
                                <a href="/static_pages/memory">Memory</a>
                                <a href="/static_pages/motherboard">Motherboards</a>
                                <a href="/static_pages/storage">Storage</a>
                                <a href="/static_pages/psu">Power Supplies</a>
                            </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">User</button>
                        <div class="dropdown-content">
                            <a href="/sessions/new">Login</a>
                            <a href="/users/new">Sign Up</a>
                        </div>
                        </div>
                    </p1>
                </h2>
                 <p><%=image_tag("C650M.jpg", alt: "Corsair650M")%><p><text1>Corsair CX 650M</text1></p><p><text1>650 Watts</text1></p><p><text1>80+ Bronze Certification, Semi-Modular</text1></p>
                     <p><a href="https://pcpartpicker.com/product/R2mxFT/corsair-power-supply-cp9020103na">Click for Pricing</a></p></p>
                 <p><%=image_tag("SS550.jpg", alt: "SeaSonic550")%><p><text1>SeaSonic G 550</text1></p><p><text1>550 Watts</text1></p><p><text1>80+ Gold Certification, Semi-Modular</text1></p>
                     <p><a href="https://pcpartpicker.com/product/DPCwrH/seasonic-power-supply-ssr550rm">Click for Pricing</a></p></p>  
                 <p><%=image_tag("SuperNova.jpg", alt: "SuperNova")%><p><text1>EVGA SuperNOVA T2</text1></p><p><text1>1000 Watts</text1></p><p><text1>80+ Titanium Certification, Modular</text1></p>
                     <p><a href="https://pcpartpicker.com/product/Bv38TW/evga-power-supply-220t21000x1">Click for Pricing</a></p></p>
                