<% provide(:title, "Storage") %>
        <body>
            <h1>Storage</h1>
                <h2>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Home</button>
                        <div class="dropdown-content">
                            <a href="/static_pages/home">Return Home</a>
                            <a href="/static_pages/reviews">Reviews</a>
                        </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">Components</button>
                            <div class="dropdown-content">
                                <a href="/static_pages/cpus">CPUs</a>
                                <a href="/static_pages/gpus">GPUs</a>
                                <a href="/static_pages/memory">Memory</a>
                                <a href="/static_pages/motherboard">Motherboards</a>
                                <a href="/static_pages/storage">Storage</a>
                                <a href="/static_pages/psu">Power Supplies</a>
                            </div>
                        </div>
                    </p1>
                    <p1>
                        <div class="dropdown">
                        <button class="dropbtn">User</button>
                        <div class="dropdown-content">
                            <a href="/sessions/new">Login</a>
                            <a href="/users/new">Sign Up</a>
                        </div>
                        </div>
                    </p1>
                </h2>
                <p><%=image_tag("WD1TB.jpg", alt: "WD1TB")%><p><text1>Western Digital Caviar Blue</text1></p><p><text1>3.5"</text1></p><p><text1>SATA-III HDD</text1></p><p><text1>1 TB Capacity</text1></p>
                     <p><a href="https://pcpartpicker.com/product/MwW9TW/western-digital-internal-hard-drive-wd10ezex">Click for Pricing</a></p></p>
                <p><%=image_tag("Samsung850Evo.jpg", alt: "850EVO")%><p><text1>Samsung 850 EVO</text1></p><p><text1>2.5"</text1></p><p><text1>SATA-III SSD</text1></p><p><text1>250 GB Capacity</text1></p>
                     <p><a href="https://pcpartpicker.com/product/3kL7YJ/samsung-internal-hard-drive-mz75e250bam">Click for Pricing</a></p></p>
                <p><%=image_tag("SeagateFirecuda.jpg", alt: "FireCuda")%><p><text1>Seagate FireCuda</text1></p><p><text1>3.5"</text1></p><p><text1>SATA-III Hybrid Drive</text1></p><p><text1>1 TB Capacity</text1></p>
                     <p><a href="https://pcpartpicker.com/product/n28H99/seagate-firecuda-1tb-35-7200rpm-hybrid-internal-hard-drive-st1000dx002">Click for Pricing</a></p></p>
                
