    body {
          background-image: url("bkgndimg.jpg");
          
    }
    
    h1 {
        padding-top:30px;
        padding-bottom:30px;
        border: 22px #99ccff;
        border-style: ridge;
        margin-bottom:20px;
        text-decoration: none;
        font-style: italic;
        text-align: center;
        background-color: #99ccff;
        border-radius: 15px 50px;
        
    }
     
    h2 {
         text-align:right;
    }
    
    h3 {
        width: 35%;
        margin: auto;
        text-align: center;
        border: 5px #99ccff;
        border-style: solid;
        background-color: #99ccff;
        border-radius: 15px 50px;
        padding: 20px;
    }
    
    
    h4 {
        
        text-align: center;
        text-decoration: underline;
    }
    
    h5 {
        
        text-align: center;
    }
    
    h6 {
        width: 15%;
        
        text-align: left;
        border: 5px #99ccff;
        border-style: solid;
        background-color: #99ccff;
        border-radius: 15px 50px;
        padding: 20px;
    }
    
     
    .dropdown:hover .dropdown-content {
        display: block;
    }
            
    /* Dropdown Button */
    .dropbtn {
        background-color:#99ccff;
        color: white;
        font-size: 16px;
        border: none;
        cursor: default;
        text-align:center;
        height:50px;
        width:160px;
        border-radius: 12px;
    }
            
    /* Position the dropdown content */
    .dropdown {
        position:relative;
        display: inline-block;
    }
            
    /* Dropdown Content */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
         border-radius: 12px;
    }
            
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration:none;
        display: block;
        font-size: 14px
    }
            
    /* Color of dropdown links on hover */
    .dropdown-content a:hover {
        border-radius: 12px;
        background-color: #f1f1f1
        
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
        
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #bacff2;
        border-radius: 12px;
    }
            
    p span {
        display: block;
    }
    
    p underline {
        text-decoration: underline;
    }
    
    p text1 {
        color:#f0f5f5;
    }
    
 
    